<div class="container">
    <h1> Formatação de Nomes</h1>
    <form #form="ngForm" novalidate>
        <div class="form-group row">
            <label for="" class="col-sm-2 col-form-label">Quantidade:</label>
            <div class="col-sm-4">
                <input type="text" name="inpQuantidadeNome" class="form-control" [(ngModel)]="quantidadeNome" required>
            </div>
            <button type="submit" [disabled]="form.invalid" name="btnConfirmarQuantidade" class="btn btn-primary mb-2"
                (click)="btnConfirmarQuantidade_Click()">Confirmar Quantidade</button>
        </div>
        <hr>
    </form>
    <form #form="ngForm" novalidate>
        <div class="form-group row" *ngFor="let nomeFormatacao of nomesFormatacao; let i = index">
            <label class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-10">
                <input name="nome" type="text" [(ngModel)]="nomeFormatacao.nome" class="form-control" required>
            </div>
        </div>
        <button type="submit" [disabled]="form.invalid" name="btnFormatarNomes_Click" class="btn btn-primary mb-2"
        (click)="btnFormatarNomes_Click()">Formatar</button>
    </form>
</div>